#titleLaunchScreen{
    -fx-font-size: 83pt;
    -fx-font-family: "Gill Sans MT";
    -fx-pref-height: 105;
    -fx-pref-width: 346;
    -fx-text-fill: #fc002b;
    -fx-padding: 300 0 300 0;

}
.startScreenButton{
    -fx-font-size: 30pt;
    -fx-pref-width: 300px;
    -fx-pref-height: 100px;
    -fx-font-family: "Gill Sans MT";
    -fx-text-fill: "white";
    -fx-font-weight: bold;
   /* -fx-background-color: #fc002b;*/
    -fx-background-color: #bb1515;
}

.button{
    display: none;
    -fx-alignment: center;
}

#vboxStartScreen{
    -fx-spacing: 30px;
    -fx-alignment: center;
    -fx-background-image: url("images/sfondo2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.popupButton{
    /*-fx-background-color: #262626;*/
    -fx-background-color: #0d9fff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}


/*TODO: questa class non la uso, vedere cpsa farci @LoginPopup*/
.missingName {
    -fx-background-color: rgb(166, 61, 40);
}

/*Styles for the button that selects the color of the player */
.selectWhiteButton{
    /*-fx-background-color: #ff6d0d;
    -fx-text-fill: #ffffff;*/
    -fx-background-color: #ffffff;
    -fx-text-fill: #262626;
    -fx-font-weight: bold;
}
.selectBlackButton{
    /*-fx-background-color: #0d9fff;
    -fx-text-fill: #262626;*/

    -fx-background-color: #262626;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.bigButton{
    -fx-pref-width: 300px;
    -fx-font-size: 30px;
}